/* Master font family */
body {
    font-family: Helvetica;
}

/* Main Heading */
h1 {
    background-image: url(./pattern.jpeg);
    text-align: center;
    font-size: 100px;
    color: khaki;
}

/* Master H2 Style */
h2 {
    font-size: 32px;
    font-weight: bold;
    color: white;
}

/* Brushes Heading */
.brushes {
        background-color: mediumspringgreen;
}

/* Frames Heading */
.frames {
    background-color: lightcoral;
}

/* Paint Heading */
.paint {
    background-color: skyblue;
}

/* Pricing info */
.price {
    font-weight: bold;
    color: blue;
}

